html,
body {
	margin: 0;
	padding: 0;
	font-family: 'Short Stack', cursive;
	overflow: auto;
	background: #6caa83;
}

.container {
	display: grid;
	grid-template-rows: repeat(10 auto);
	grid-template-columns: 50% 50%;
	flex-direction: column;
	text-align: center;
	justify-content: center;
	align-items: start;
}
li {
	list-style-type: none;
	margin: 3vw;
	padding: 1vw;
	font-family: 'Short Stack', cursive;
	border-radius: 19px;
	color: #ffffff;
	background: #343537;
	font-size: 16px;
	line-height: 1.5rem;
	text-align: center;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
}

li:hover {
	transform: scale(1.1);
}

#yoda {
	padding: 2vw;
	width: 40vw;
}

@media screen and (max-width: 420px) {
	.quote {
		font-size: 22px;
	}
}
@media screen and (min-width: 420px) {
}

@media screen and (min-width: 700px) {
	.quote {
		font-size: 26px;
	}
}

@media screen and (min-width: 1100px) {
}
